# CONCOURSE
.credentials.yml

# VSCODE
.vscode/

# GO
coverage.out

# macOS
.DS_Store

# WINDOWS
*.jpg:Zone.Identifier

# Ignore binaries

# Ignore test coverage
**/test/test_coverage.txt

# Ignore binary used for docker build
